# SPDX-FileCopyrightText: Copyright (c) 2023-2026 Almaz Ilaletdinov <a.ilaletdinov@yandex.ru>
# SPDX-License-Identifier: MIT

attrs==25.4.0
    # via wemake-python-styleguide
flake8==7.3.0
    # via wemake-python-styleguide
mccabe==0.7.0
    # via flake8
pycodestyle==2.14.0
    # via flake8
pyflakes==3.4.0
    # via flake8
pygments==2.19.2
    # via wemake-python-styleguide
wemake-python-styleguide==1.6.0
    # via -r lint-requirements.txt
