# SPDX-FileCopyrightText: Copyright (c) 2023-2026 Almaz Ilaletdinov <a.ilaletdinov@yandex.ru>
# SPDX-License-Identifier: MIT

name: CI

on:
  pull_request:
    branches: [ "master" ]
  push:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  tests:
    strategy:
      matrix:
        python_version: [
          "3.10",
          "3.14",
        ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python_version }}
      - name: Install Poetry
        uses: snok/install-poetry@v1.4.1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true
      - name: Load cached venv
        id: cached-poetry-dependencies
        uses: actions/cache@v5
        with:
          path: .venv
          key: venv-${{ matrix.python_version }}-${{ hashFiles('**/poetry.lock') }}
      - name: Install dependencies
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
        run: poetry install --no-interaction
      - name: Check types
        run: poetry run pytest
      - name: Run tests via pytest
        run: poetry run mypy deltaver tests

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Checkout master
        run: git fetch origin master:master -u
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"
      - name: Install Poetry
        uses: snok/install-poetry@v1.4.1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true
      - name: Load cached venv
        id: cached-poetry-dependencies
        uses: actions/cache@v5
        with:
          path: .venv
          key: venv-3.13-${{ hashFiles('**/poetry.lock') }}
      - name: Install dependencies
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
        run: poetry install --no-interaction
      - name: Install lint dependencies
        run: |
          python3 -m venv lint-venv
          lint-venv/bin/pip install -r lint-requirements.txt
      - name: lint via ruff
        run: .venv/bin/ruff check deltaver tests | .venv/bin/ondivi
      - name: flake8
        run: lint-venv/bin/flake8 deltaver tests | .venv/bin/ondivi
      # TODO: fix
      # - name: Checking files for compliance with editorconfig
      #   run: |
      #     VERSION="v3.2.0"
      #     curl -O -L -C - https://github.com/editorconfig-checker/editorconfig-checker/releases/download/$VERSION/ec-linux-amd64.tar.gz
      #     tar xzf ec-linux-amd64.tar.gz
      #     git ls-files | xargs bin/ec-linux-amd64 -v
